<a href="https://colab.research.google.com/github/Hunter7210/Teste/blob/main/Heitor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#importando biblioteca panda
import pandas as pd # Biblioteca para dados bidimensionais
import numpy as np # Biblioteca de análise numérica
import matplotlib.pyplot as plt # Gráficos
import seaborn as sns # Este pacote serve para criar alguns gráficos mais bonitos.

In [9]:
df = pd.read_csv('bace.csv')

In [11]:
df.loc[0:203]

,mol,CID,Class,Model,pIC50,MW,AlogP,HBA,HBD,RB,...,PEOE6 (PEOE6),PEOE7 (PEOE7),PEOE8 (PEOE8),PEOE9 (PEOE9),PEOE10 (PEOE10),PEOE11 (PEOE11),PEOE12 (PEOE12),PEOE13 (PEOE13),PEOE14 (PEOE14),canvasUID
0,O1CC[C@@H](NC(=O)[C@@H](Cc2cc3cc(ccc3nc2N)-c2c...,BACE_1,1,Train,9.154901,431.56979,4.4014,3,2,5,...,53.205711,78.640335,226.855410,107.434910,37.133846,0.000000,7.980170,0.000000,0.000000,1.0
1,Fc1cc(cc(F)c1)C[C@H](NC(=O)[C@@H](N1CC[C@](NC(...,BACE_2,1,Train,8.853872,657.81073,2.6412,5,4,16,...,73.817162,47.171600,365.676940,174.076750,34.923889,7.980170,24.148668,0.000000,24.663788,2.0
2,S1(=O)(=O)N(c2cc(cc3c2n(cc3CC)CC1)C(=O)N[C@H](...,BACE_3,1,Train,8.698970,591.74091,2.5499,4,3,11,...,70.365707,47.941147,192.406520,255.752550,23.654478,0.230159,15.879790,0.000000,24.663788,3.0
3,S1(=O)(=O)C[C@@H](Cc2cc(O[C@H](COCC)C(F)(F)F)c...,BACE_4,1,Train,8.698970,591.67828,3.1680,4,3,12,...,56.657166,37.954151,194.353040,202.763350,36.498634,0.980913,8.188327,0.000000,26.385181,4.0
4,S1(=O)(=O)N(c2cc(cc3c2n(cc3CC)CC1)C(=O)N[C@H](...,BACE_5,1,Train,8.698970,629.71283,3.5086,3,3,11,...,78.945702,39.361153,179.712880,220.461300,23.654478,0.230159,15.879790,0.000000,26.100143,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Clc1cc(ccc1)CCc1cccnc1N,BACE_201,0,Train,3.000000,232.70869,3.5698,1,1,3,...,52.647068,39.361153,56.668633,75.335098,27.097986,0.000000,0.000000,0.000000,0.000000,201.0
200,n1ccc2c(cccc2)c1N,BACE_202,0,Train,3.000000,144.17320,1.3830,1,1,0,...,34.319988,10.536325,12.878222,64.572937,27.097986,0.000000,0.000000,0.000000,0.000000,202.0
201,n1c2c(ccc1N)cccc2,BACE_203,0,Train,3.000000,144.17320,1.8115,1,1,0,...,25.739992,25.739992,1.956327,68.871162,27.097986,0.000000,0.000000,0.000000,0.000000,203.0
202,O1CC[NH+](CC1)CC(O)COc1cc(ccc1C)C,BACE_204,0,Train,2.698970,266.35599,0.5410,3,1,5,...,17.159994,33.913879,65.744652,200.310230,20.365025,0.000000,8.188327,0.000000,12.331894,204.0
203,O=C1NC(=NC(=C1)CCC)N,BACE_205,0,Train,2.698970,153.18170,0.9282,2,2,2,...,14.755086,4.164324,90.270241,10.762156,20.071724,19.404020,0.000000,6.904104,0.000000,205.0

In [10]:
df.loc [0:203,'mol']

0      O1CC[C@@H](NC(=O)[C@@H](Cc2cc3cc(ccc3nc2N)-c2c...
1      Fc1cc(cc(F)c1)C[C@H](NC(=O)[C@@H](N1CC[C@](NC(...
2      S1(=O)(=O)N(c2cc(cc3c2n(cc3CC)CC1)C(=O)N[C@H](...
3      S1(=O)(=O)C[C@@H](Cc2cc(O[C@H](COCC)C(F)(F)F)c...
4      S1(=O)(=O)N(c2cc(cc3c2n(cc3CC)CC1)C(=O)N[C@H](...
                             ...
199                              Clc1cc(ccc1)CCc1cccnc1N
200                                    n1ccc2c(cccc2)c1N
201                                    n1c2c(ccc1N)cccc2
202                    O1CC[NH+](CC1)CC(O)COc1cc(ccc1C)C
203                                 O=C1NC(=NC(=C1)CCC)N
Name: mol, Length: 204, dtype: object

In [12]:
df.columns

Index(['mol', 'CID', 'Class', 'Model', 'pIC50', 'MW', 'AlogP', 'HBA', 'HBD',
       'RB',
       ...
       'PEOE6 (PEOE6)', 'PEOE7 (PEOE7)', 'PEOE8 (PEOE8)', 'PEOE9 (PEOE9)',
       'PEOE10 (PEOE10)', 'PEOE11 (PEOE11)', 'PEOE12 (PEOE12)',
       'PEOE13 (PEOE13)', 'PEOE14 (PEOE14)', 'canvasUID'],
      dtype='object', length=595)

In [13]:
df['Model'].unique()

array(['Train', 'Valid', 'Test'], dtype=object)

In [14]:
df.describe()

,Class,pIC50,MW,AlogP,HBA,HBD,RB,HeavyAtomCount,ChiralCenterCount,ChiralCenterCountAllPossible,...,PEOE6 (PEOE6),PEOE7 (PEOE7),PEOE8 (PEOE8),PEOE9 (PEOE9),PEOE10 (PEOE10),PEOE11 (PEOE11),PEOE12 (PEOE12),PEOE13 (PEOE13),PEOE14 (PEOE14),canvasUID
count,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,...,402.000000,402.000000,402.000000,402.000000,402.000000,402.000000,402.000000,402.000000,402.000000,402.000000
mean,0.744417,7.253140,512.830370,3.038959,4.009926,2.488834,9.317618,36.464020,1.223325,2.749380,...,54.975704,50.369138,211.420118,151.242677,32.539617,3.588408,14.370487,1.644206,17.538741,215.141791
std,0.436731,1.527962,155.245417,1.482498,1.791328,1.748275,5.617436,10.877681,1.695693,1.984823,...,27.945780,19.520424,121.445421,64.779621,14.364445,6.115234,11.497064,3.514169,12.812683,128.157837
min,0.000000,2.698970,138.187000,-4.361100,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,...,0.000000,-3.551821,1.956327,-5.536391,0.000000,-6.106466,-6.106466,-7.379991,-1.273524,1.000000
25%,0.000000,6.688375,411.148100,2.283700,3.000000,1.000000,5.000000,29.000000,0.000000,1.000000,...,37.352460,38.023774,114.306075,102.880922,23.062125,0.000000,7.980170,0.000000,0.000000,102.250000
50%,1.000000,7.958607,515.608700,3.004700,4.000000,3.000000,9.000000,37.000000,1.000000,3.000000,...,53.205711,47.211410,207.543045,140.295830,33.514153,0.230159,13.743245,0.000000,24.663788,202.500000
75%,1.000000,8.244125,607.243745,3.843100,5.000000,3.000000,13.000000,43.000000,2.000000,4.000000,...,70.365707,60.648697,291.603530,193.792073,39.147979,7.407086,16.376654,0.000000,24.663788,328.750000
max,1.000000,10.522879,1350.473300,7.617400,12.000000,15.000000,40.000000,97.000000,10.000000,12.000000,...,159.617140,124.272730,865.473330,361.922450,121.671900,29.439884,80.218018,16.681131,49.327576,430.000000

In [15]:
df.loc[0:203,['mol', 'Model']]

                                                   mol  Model
0    O1CC[C@@H](NC(=O)[C@@H](Cc2cc3cc(ccc3nc2N)-c2c...  Train
1    Fc1cc(cc(F)c1)C[C@H](NC(=O)[C@@H](N1CC[C@](NC(...  Train
2    S1(=O)(=O)N(c2cc(cc3c2n(cc3CC)CC1)C(=O)N[C@H](...  Train
3    S1(=O)(=O)C[C@@H](Cc2cc(O[C@H](COCC)C(F)(F)F)c...  Train
4    S1(=O)(=O)N(c2cc(cc3c2n(cc3CC)CC1)C(=O)N[C@H](...  Train
..                                                 ...    ...
199                            Clc1cc(ccc1)CCc1cccnc1N  Train
200                                  n1ccc2c(cccc2)c1N  Train
201                                  n1c2c(ccc1N)cccc2  Train
202                  O1CC[NH+](CC1)CC(O)COc1cc(ccc1C)C  Train
203                               O=C1NC(=NC(=C1)CCC)N  Train

[204 rows x 2 columns]

In [69]:
x =df.loc[0:203,['mol', 'Model']]

In [70]:
x.index

RangeIndex(start=0, stop=204, step=1)

In [71]:
x.mean()

<ipython-input-71-6f9184126d05>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  x.mean()

Series([], dtype: float64)

In [72]:
x[['mol', 'Model']]

                                                   mol  Model
0    O1CC[C@@H](NC(=O)[C@@H](Cc2cc3cc(ccc3nc2N)-c2c...  Train
1    Fc1cc(cc(F)c1)C[C@H](NC(=O)[C@@H](N1CC[C@](NC(...  Train
2    S1(=O)(=O)N(c2cc(cc3c2n(cc3CC)CC1)C(=O)N[C@H](...  Train
3    S1(=O)(=O)C[C@@H](Cc2cc(O[C@H](COCC)C(F)(F)F)c...  Train
4    S1(=O)(=O)N(c2cc(cc3c2n(cc3CC)CC1)C(=O)N[C@H](...  Train
..                                                 ...    ...
199                            Clc1cc(ccc1)CCc1cccnc1N  Train
200                                  n1ccc2c(cccc2)c1N  Train
201                                  n1c2c(ccc1N)cccc2  Train
202                  O1CC[NH+](CC1)CC(O)COc1cc(ccc1C)C  Train
203                               O=C1NC(=NC(=C1)CCC)N  Train

[204 rows x 2 columns]

In [73]:
x.max()

mol      s1ccnc1-c1cc(ccc1)C[C@H](NC(=O)[C@H](OC)C)[C@H...
Model                                                Valid
dtype: object

In [66]:
y =df1.describe()

In [74]:
x

                                                   mol  Model
0    O1CC[C@@H](NC(=O)[C@@H](Cc2cc3cc(ccc3nc2N)-c2c...  Train
1    Fc1cc(cc(F)c1)C[C@H](NC(=O)[C@@H](N1CC[C@](NC(...  Train
2    S1(=O)(=O)N(c2cc(cc3c2n(cc3CC)CC1)C(=O)N[C@H](...  Train
3    S1(=O)(=O)C[C@@H](Cc2cc(O[C@H](COCC)C(F)(F)F)c...  Train
4    S1(=O)(=O)N(c2cc(cc3c2n(cc3CC)CC1)C(=O)N[C@H](...  Train
..                                                 ...    ...
199                            Clc1cc(ccc1)CCc1cccnc1N  Train
200                                  n1ccc2c(cccc2)c1N  Train
201                                  n1c2c(ccc1N)cccc2  Train
202                  O1CC[NH+](CC1)CC(O)COc1cc(ccc1C)C  Train
203                               O=C1NC(=NC(=C1)CCC)N  Train

[204 rows x 2 columns]

In [77]:
y

                                                      mol  Model
count                                                 204    204
unique                                                204      2
top     O1CC[C@@H](NC(=O)[C@@H](Cc2cc3cc(ccc3nc2N)-c2c...  Train
freq                                                    1    203